apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Values.name }}-deployment
  labels:
    app: {{.Values.name}}
    version: {{ .Values.version | squote }}
  annotations:
    configmap.reloader.stakater.com/reload: "kafka-api-properties"
spec:
  {{- if not .Values.global.registry.kafkaApi.hpa.enabled }}
  replicas: {{ .Values.global.registry.kafkaApi.replicas }}
  {{- end }}
  selector:
    matchLabels:
      app: {{.Values.name}}
  strategy:
    type: RollingUpdate
  template:
    metadata:
      labels:
        app: {{.Values.name}}
        version: {{ .Values.version | squote }}
        collect.logs: "json"
      {{- if or .Values.podAnnotations .Values.global.registry.kafkaApi.istio.sidecar.enabled }}
      annotations:
        {{- range $key, $value := .Values.podAnnotations }}
        {{ $key }}: {{ $value | quote }}
        {{- end }}
        {{- if .Values.global.registry.kafkaApi.istio.sidecar.enabled }}
        traffic.sidecar.istio.io/excludeOutboundPorts: '8080,5432'
        sidecar.istio.io/inject: 'true'
        {{- if .Values.global.istio.sidecar.requestsLimitsEnabled }}
        {{- include "kafkaApi.istioResources" . | nindent 8 }}
        {{- else }}
        inject.istio.io/templates: 'sidecar,emptyRequestsLimits'
        {{- end }}
        {{- end }}
        {{- if eq (include "externalS3.caSecretRef.exists" .) "true" }}
        sidecar.istio.io/userVolume: >
          {"s3-ca":{"secret":{"secretName":"{{ .Values.global.externalS3.caSecretRef }}"}}}
        sidecar.istio.io/userVolumeMount: >
          {"s3-ca":{"mountPath":"/etc/istio/s3-ca","readOnly":true}}
        {{- end }}
      {{- end }}
    spec:
      serviceAccountName: {{.Values.name }}
      imagePullSecrets:
        - name: {{ .Values.nexusPullSecret }}
      containers:
        - name: {{.Values.name }}
          image: "{{ .Values.image.name }}:{{ .Values.image.version }}"
          ports:
            - containerPort: {{ .Values.port }}
              name: kafka-api
              protocol: TCP
            - containerPort: 9010
              name: jmx
              protocol: TCP
          imagePullPolicy: Always
          {{- if .Values.global.container.requestsLimitsEnabled }}
          resources:
            {{- toYaml .Values.global.registry.kafkaApi.container.resources | nindent 12 }}
          {{- end }}
          terminationMessagePath: /dev/termination-log
          terminationMessagePolicy: File
          livenessProbe:
            httpGet:
              path: {{ .Values.probes.liveness.path }}
              port: {{ .Values.port }}
              httpHeaders:
                - name: X-B3-Sampled
                  value: "0"
            failureThreshold: 1
            initialDelaySeconds: 180
            periodSeconds: 20
            successThreshold: 1
            timeoutSeconds: 5
          readinessProbe:
            httpGet:
              path: {{ .Values.probes.readiness.path }}
              port: {{ .Values.port }}
              httpHeaders:
                - name: X-B3-Sampled
                  value: "0"
            failureThreshold: 5
            initialDelaySeconds: 60
            periodSeconds: 20
            successThreshold: 1
            timeoutSeconds: 5
          volumeMounts:
            - mountPath: /app/config/config.yaml
              name: config
              readOnly: true
              subPath: config.yaml
            - mountPath: /app/secrets
              name: db-credentials
              readOnly: true
            - mountPath: /app/secrets/datafactoryceph
              name: {{ .Values.name }}-datafactory-ceph-bucket-credentials
              readOnly: true
            - mountPath: /app/secrets/datafactoryresponseceph
              name: {{ .Values.name }}-datafactory-response-ceph-bucket-credentials
              readOnly: true
            - mountPath: /app/secrets/lowcodefileceph
              name: {{ .Values.name }}-lowcode-file-ceph-bucket-credentials
              readOnly: true
            - mountPath: /app/secrets/datafactoryfileceph
              name: {{ .Values.name }}-datafactory-file-ceph-bucket-credentials
              readOnly: true
          env:
            {{- range $name, $value := .Values.global.registry.kafkaApi.container.envVars }}
            - name: {{ $name }}
              value: {{ $value | quote }}
            {{- end }}
            - name: KAFKA_BROKER
              value: {{ .Values.kafka.service }}
            - name: DB_URL
              value: {{ .Values.db.url }}
            - name: DB_NAME
              value: {{ .Values.db.name }}
            - name: POSTGRES_USER
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.db.secret }}
                  key: appRoleName
            - name: POSTGRES_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.db.secret }}
                  key: appRolePass
            - name: DATAFACTORY_CEPH_BUCKET_NAME
              valueFrom:
                configMapKeyRef:
                  name: {{ include "datafactoryBucket.configMapName" . }}
                  key: BUCKET_NAME
            - name: DATAFACTORY_CEPH_BUCKET_HOST
              valueFrom:
                configMapKeyRef:
                  name: {{ include "datafactoryBucket.configMapName" . }}
                  key: BUCKET_HOST
            - name: DATAFACTORY_RESPONSE_CEPH_BUCKET_NAME
              valueFrom:
                configMapKeyRef:
                  name: {{ .Values.datafactoryResponseCeph.bucketName }}
                  key: BUCKET_NAME
            - name: DATAFACTORY_RESPONSE_CEPH_BUCKET_HOST
              valueFrom:
                configMapKeyRef:
                  name: {{ .Values.datafactoryResponseCeph.bucketName }}
                  key: BUCKET_HOST
            - name: LOWCODE_FILE_CEPH_BUCKET_NAME
              valueFrom:
                configMapKeyRef:
                  name: {{ .Values.lowcodeFileCeph.bucketName }}
                  key: BUCKET_NAME
            - name: LOWCODE_FILE_CEPH_BUCKET_HOST
              valueFrom:
                configMapKeyRef:
                  name: {{ .Values.lowcodeFileCeph.bucketName }}
                  key: BUCKET_HOST
            - name: DATAFACTORY_FILE_CEPH_BUCKET_NAME
              valueFrom:
                configMapKeyRef:
                  name: {{ include "fileBucket.configMapName" . }}
                  key: BUCKET_NAME
            - name: DATAFACTORY_FILE_CEPH_BUCKET_HOST
              valueFrom:
                configMapKeyRef:
                  name: {{ include "fileBucket.configMapName" . }}
                  key: BUCKET_HOST
            - name: KAFKA_USER_KEYSTORE_CERTIFICATE
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.kafka.user }}
                  key: user.crt
            - name: KAFKA_USER_KEYSTORE_KEY
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.kafka.user }}
                  key: user.key
            - name: KAFKA_CLUSTER_TRUSTSTORE
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.kafka.clusterName }}-cluster-ca-cert
                  key: ca.crt
      initContainers:
        - name: wait-for-rest-api
          image: {{ template "imageRegistry" . -}} busybox
          command: ["sh", "-c", "while ! nc -w 1 {{ .Values.restApi.service.name }} {{ .Values.restApi.service.port }} </dev/null; do echo waiting for rest-api service; sleep 10; done;"]
        - name: init
          image: {{ template "imageRegistry" . -}} busybox
          command: ["sh", "-c", "while ! nc -w 1 {{ .Values.db.url }} {{ .Values.db.port }} </dev/null; do echo waiting for {{ .Values.db.url }}; sleep 10; done;"]
          env:
            - name: POSTGRES_USER
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.db.secret }}
                  key: appRoleName
            - name: POSTGRES_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.db.secret }}
                  key: appRolePass
      dnsPolicy: ClusterFirst
      restartPolicy: Always
      schedulerName: default-scheduler
      securityContext: {}
      terminationGracePeriodSeconds: 30
      volumes:
        - name: config
          configMap:
            name: kafka-api-properties
        - name: db-credentials
          secret:
            secretName: {{ .Values.db.secret }}
            items:
              - key: appRolePass
                path: data-platform.datasource.password
              - key: appRoleName
                path: data-platform.datasource.username
        - name: {{ .Values.name }}-datafactory-ceph-bucket-credentials
          secret:
            secretName: {{ include "datafactoryBucket.secretName" . }}
            items:
              - key: AWS_ACCESS_KEY_ID
                path: ceph.access-key
              - key: AWS_SECRET_ACCESS_KEY
                path: ceph.secret-key
        - name: {{ .Values.name }}-datafactory-response-ceph-bucket-credentials
          secret:
            secretName: {{ .Values.datafactoryResponseCeph.bucketName }}
            items:
              - key: AWS_ACCESS_KEY_ID
                path: datafactory-response-ceph.access-key
              - key: AWS_SECRET_ACCESS_KEY
                path: datafactory-response-ceph.secret-key
        - name: {{ .Values.name }}-lowcode-file-ceph-bucket-credentials
          secret:
            secretName: {{ .Values.lowcodeFileCeph.bucketName }}
            items:
              - key: AWS_ACCESS_KEY_ID
                path: lowcode-file-ceph.access-key
              - key: AWS_SECRET_ACCESS_KEY
                path: lowcode-file-ceph.secret-key
        - name: {{ .Values.name }}-datafactory-file-ceph-bucket-credentials
          secret:
            secretName: {{ include "fileBucket.secretName" . }}
            items:
              - key: AWS_ACCESS_KEY_ID
                path: datafactory-file-ceph.access-key
              - key: AWS_SECRET_ACCESS_KEY
                path: datafactory-file-ceph.secret-key
